### Installation directory
installdir={{ cr_install_dir }}
### Product keycode
productkey={{ cr_product_key }}
### Registered Company
registered company={{ cr_registered_co }}
### Registered User
registereduser={{ cr_registered_user }}
### Language Packs Selected to Install
selectedlanguagepacks=en
### Setup UI language
setupuilanguage=en
### INstall Type
installtype=Default
